<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>One</key>
	<dict>
		<key>A</key>
		<string>A</string>
		<key>C</key>
		<string>C</string>
		<key>R</key>
		<string>R</string>
		<key>P</key>
		<string>P</string>
		<key>I</key>
		<string>I</string>
		<key>T</key>
		<string>T</string>
		<key>U</key>
		<string>U</string>
		<key>CIP</key>
		<string>C</string>
		<key>ACI</key>
		<string>C</string>
		<key>CIT</key>
		<string>T</string>
		<key>CIR</key>
		<string>I</string>
		<key>CIU</key>
		<string>C</string>
		<key>ACP</key>
		<string>A</string>
		<key>CPT</key>
		<string>T</string>
		<key>CPR</key>
		<string>P</string>
		<key>CPU</key>
		<string>C</string>
		<key>ACT</key>
		<string>T</string>
		<key>ACR</key>
		<string>A</string>
		<key>ACU</key>
		<string>A</string>
		<key>CRT</key>
		<string>T</string>
		<key>CTU</key>
		<string>T</string>
		<key>CRU</key>
		<string>R</string>
		<key>AIP</key>
		<string>A</string>
		<key>IPT</key>
		<string>I</string>
		<key>IPR</key>
		<string>I</string>
		<key>IPU</key>
		<string>P</string>
		<key>AIT</key>
		<string>A</string>
		<key>AIR</key>
		<string>A</string>
		<key>AIU</key>
		<string>I</string>
		<key>IRT</key>
		<string>T</string>
		<key>ITU</key>
		<string>T</string>
		<key>IRU</key>
		<string>R</string>
		<key>APT</key>
		<string>A</string>
		<key>APR</key>
		<string>A</string>
		<key>APU</key>
		<string>A</string>
		<key>PRT</key>
		<string>T</string>
		<key>PTU</key>
		<string>T</string>
		<key>PRU</key>
		<string>P</string>
		<key>ART</key>
		<string>R</string>
		<key>ATU</key>
		<string>T</string>
		<key>ARU</key>
		<string>U</string>
		<key>RTU</key>
		<string>T</string>		
		<key>ACIP</key>
		<string>C</string>
		<key>CIPT</key>
		<string>C</string>
		<key>CIPR</key>
		<string>I</string>
		<key>CIPU</key>
		<string>C</string>
		<key>ACIT</key>
		<string>I</string>
		<key>ACIR</key>
		<string>C</string>
		<key>ACIU</key>
		<string>A</string>
		<key>CIRT</key>
		<string>T</string>
		<key>CITU</key>
		<string>T</string>
		<key>CIRU</key>
		<string>R</string>
		<key>ACPT</key>
		<string>A</string>
		<key>ACPR</key>
		<string>P</string>
		<key>ACPU</key>
		<string>C</string>
		<key>CPRT</key>
		<string>T</string>
		<key>CPTU</key>
		<string>P</string>
		<key>CPRU</key>
		<string>U</string>
		<key>ACRT</key>
		<string>A</string>
		<key>ACTU</key>
		<string>T</string>
		<key>ACRU</key>
		<string>R</string>
		<key>CRTU</key>
		<string>T</string>
		<key>AIPT</key>
		<string>A</string>
		<key>AIPR</key>
		<string>I</string>
		<key>AIPU</key>
		<string>I</string>
		<key>IPRT</key>
		<string>T</string>
		<key>IPTU</key>
		<string>T</string>
		<key>IPRU</key>
		<string>R</string>
		<key>AIRT</key>
		<string>T</string>
		<key>AITU</key>
		<string>T</string>
		<key>AIRU</key>
		<string>R</string>
		<key>IRTU</key>
		<string>T</string>
		<key>APRT</key>
		<string>P</string>
		<key>APTU</key>
		<string>T</string>
		<key>APRU</key>
		<string>A</string>
		<key>PRTU</key>
		<string>T</string>
		<key>ARTU</key>
		<string>T</string>
		<key>CI</key>
		<string>C</string>
		<key>CP</key>
		<string>C</string>
		<key>AC</key>
		<string>A</string>
		<key>CT</key>
		<string>T</string>
		<key>CR</key>
		<string>C</string>
		<key>CU</key>
		<string>C</string>
		<key>IP</key>
		<string>I</string>
		<key>AI</key>
		<string>A</string>
		<key>IT</key>
		<string>T</string>
		<key>IR</key>
		<string>I</string>
		<key>IU</key>
		<string>I</string>
		<key>AP</key>
		<string>A</string>
		<key>PR</key>
		<string>P</string>
		<key>PT</key>
		<string>T</string>
		<key>PU</key>
		<string>U</string>
		<key>AT</key>
		<string>T</string>
		<key>AR</key>
		<string>A</string>
		<key>AU</key>
		<string>A</string>
		<key>RT</key>
		<string>T</string>
		<key>TU</key>
		<string>T</string>
		<key>RU</key>
		<string>R</string>		
	</dict>
</dict>
</plist>
